* {
  margin: 0;
  padding: 0;
  background-color: #353f4e;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

/* navigation bar - desktop size*/
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
}

.brand-div {
  display: flex;
  grid-gap: 1rem;
  justify-content: center;
  margin: 0.5rem 0 0;
  cursor: pointer;
}

.brandIcon {
  width: 2rem;
  height: 2rem;
}

.nav-item {
  margin: 1rem 10rem 0 0;
}

.nav-link-ul {
  display: flex;
  grid-gap: 2.5rem;
  justify-content: center;
}

.nav-link-ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.dropdown-btn {
  background: url("image/arrow.svg");
  width: 1rem;
  height: 1rem;
  border: none;
  cursor: pointer;
}

/* search bar */
form {
  background-color: #293341;
  border-radius: 2rem;
  padding: 5px 12px;
  height: 2rem;
}

.search-icon {
  background: url("image/search-solid.svg");
  width: 1rem;
  height: 1rem;
  border: none;
  cursor: pointer;
}

.search-bar {
  background-color: #293341;
  border: none;
  border-radius: 2rem;
  padding: 5px 12px;
  width: 11rem;
  height: 2rem;
}

/* navigation bar - mobile size*/
.hamberger-menue {
  background: url("image/hamberger-menu.svg");
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.menue-close {
  background: url("image/menue-close.svg");
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
}

.menue-search {
  background: url("image/search-solid.svg");
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  margin: 10px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width:1085px) {
  .nav-item {
    margin: 1rem 0 0 0;
  }
}

@media screen and (max-width:885px) {
  .hamberger-menue {
    display: block;
  }
}

@media screen and (max-width:885px) and (min-width:500px) {
  .nav-item {
    display: none;
  }
}

@media screen and (max-width:500px) {

  /* menue-search  button */
  form {
    position: absolute;
    top: 90px;
    right: 25px;
    transform: translateY(-1000%);
    transition: transform 350ms ease-in;
  }

  form:before {
    position: absolute;
    content: "";
    top: -20px;
    right: 1rem;
    width: 0;
    height: 0;
    z-index: 1;
    border: 10px solid transparent;
    border-bottom-color: #293341;
  }

  form[data-visibility="true"] {
    transform: translateY(0%);
  }

  .menue-search {
    display: block;
  }

  /* hamberger-menue button */
  .nav-link-ul {
    position: fixed;
    z-index: 1;
    inset: 0 40% 0 0;
    background-color: hsl(0 0% 52% /0.95);
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 0 0 6rem;
    transition: transform 350ms ease-out;
    transform: translateX(-100%);
  }

  .nav-link-ul[data-visible="true"] {
    transform: translateX(-0%);
  }

  nav li, nav a {
    background-color: transparent;
  }

  .menue-close {
    position: absolute;
    display: block;
    z-index: 99;
    left: 2.0rem;
    top: 2.3rem;
  }
}

/* index.html blog posts- main section - mobile size */
.card {
  margin: 5rem 2rem;
}

.card:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  left: 10%;
  right: 10%;
  background: white;
  border-radius: 1rem;
  margin: 2rem 0;
}

.last:after {
  display: none;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

.profile-div {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
  margin: 2rem 0 0 0;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
}

.profile-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.p1, .p3 {
  display: inline-block;
  margin: 1rem;
}

.p1:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  margin: 0.3rem 1rem 0;
}

h2, .p2 {
  line-height: 2rem;
}

/* index.html blog posts- main section - desktop size */
@media screen and (min-width:1000px) {
  .first-blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .first-blog-txt {
    margin: 0 0 0 5rem;
    width: 50%;
  }

  .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    margin: 2rem 2rem;
  }

  .card:after {
    display: none;
  }
}

/* detail-post.html blog posts- detail section - mobile size*/
#detail h2 {
  margin: 0 3rem;
  text-align: center;
}

#detail .type-date {
  display: flex;
  justify-content: center;
  text-align: center;
}

#detail .profile-div {
  justify-content: center;
  margin-bottom: 2rem;
}

#detail .card:after {
  display: none;
}

#detail .p2 {
  margin: 2rem 0;
}

/* detail-post.html blog posts- detail section - desktop size*/
@media screen and (min-width:820px) {
  #detail .p2 {
    margin: 2rem 5rem;
  }
}

/* footer section */
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 0 5rem 0;
}
